{% extends 'base.html' %}
{% load static %}

{% block content %}
     <!-- ======= Featured Services Section ======= -->
     <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">Stamp Game</a></h4>
                <p class="description">It a free games click to download, videos, youtube</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">Django Views Tutoria</a></h4>
                <p class="description">On the first line we’re importing ListView and in the second line we import the Post
                    model. In the view, HomePageView , we subclass ListView and specify the correct model
                    and template.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">School team</a></h4>
                <p class="description">Our view is complete which means we still need to configure our URLs and make our
                    template. Let’s start with the template. Create a new directory called templates and
                    within it a home.html template file.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">FCE PK</a></h4>
                <p class="description">Home of success</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Featured Services Section -->
    {% endblock %}

   
 